<%- include("partials/header"); -%>
<h1>Compose</h1>
<form action="/compose" method="POST">




<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="text1"> <br><br>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Post</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="text2" rows="6" ></textarea>
  </div>
  <br><br>

<button type="submit" class="btn btn-primary">Compose</button>
</form>
<%- include("partials/footer"); -%>
